.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
tsconfig.tsbuildinfo
SECRET_CONFIG
.idea
!.env.ci
!.env.example
gcp-*.json
db
data
models/*
!models/add-your-models-here.txt
.claude/*
!.claude/skills/
